body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  background: lavenderblush;
}

header {
  background: linear-gradient(to right, #7aaac3,#3c4e61);
  color:white;
  text-align: center;
  padding: 60px 20px;
}

.profile-pic {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.hero-content h1 {
  margin: 0;
  font-size: 2.5rem;
}

button{
  background-color: #222;
  color: #eee;
  border: 1px solid #444;
}

section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: purple;
}

.about-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-cards div {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.list {
  display: grid;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

a {
  color: darkblue;
  text-decoration: none;
  transition: 0.3s ease;
  font-size: 1rem;
}
a:hover{
  padding: 5px 10px;
  font-size: 1.5rem;
}

footer {
  height: 50px;
  color: white;
  text-align: center;
  padding: 20px;
  background:rgb(48, 46, 46);
  font-size: 1.2rem;
}
/* Fade In Effect */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.appear {
  opacity: 1;
  transform: translateY(0);
}

/* Typewriter Styling */
h1 {
  font-weight: bold;
  font-size: 1.8rem;
  color:rgb(184 178 49);
  white-space: nowrap;
  border-right: 2px solid none;
  overflow: hidden;
}

